[submodule "android/AndroidSdk"]
	path = android/AndroidSdk
	url = https://github.com/Cocos-BCX/AndroidSdk.git
[submodule "ios/iOSSDK"]
	path = ios/iOSSDK
	url = https://github.com/hugohuang1111/iOSSDK.git
