[submodule "android/AndroidSdk"]
	path = android/AndroidSdk
	url = https://github.com/hugohuang1111/bcx-android-sdk.git
[submodule "ios/iOSSDK"]
	path = ios/iOSSDK
	url = https://github.com/hugohuang1111/bcx-ios-sdk.git
